  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

a {
    cursor: pointer;
}

html body {
    line-height: 2;
     background-color: white;
}
header {
    padding-top: 1%;
}
header .nav {
    width: 90%;
    border: 1px solid #ccc;
    background-color: #f4f4f5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
/*    margin-top: 1%;*/
   
}
.nav-left .nav-item {
    font-size: 1.2rem;
}
.nav-item {
    font-weight: bold;
}
table#fc {
    width: auto;
    box-shadow: 0 0 5px #ccc;
}
.wrapperOrderBlock {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
}
#orderForm {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.orderBlock {
    width: 60%;
    margin-right: auto;
    height: 80%;
}
.orderBox {
    width: 30%;
    margin-left: auto;
    height: 60%;
    border: 1px solid #ccc;
    background-color: #f4f4f5;
    padding: 4%;
    border-radius: 6px;
}
.orderBox h2 {
    font-weight: bold;
    font-size: 2rem;
}
.orderBox p {
    font-size: 1.1rem;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}
.wrapperNav {
    margin-top: 3%;
    width: 90%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
}
.navText {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.navText p strong {
    font-weight: bold;
    font-size: 1.7rem;
    height: 100%;
    margin-right: 2%;
}
.navText p {
    font-size: 1.2rem;
    height: 100%;
    width: 100%;
}
.navButton {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
    height: auto;
}
.wrapperPromoCreate {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
   
}
.wrapperPromoCreate h2 {
    font-size: 1.7rem;
    font-weight: bold;
}
#promoCreate {
     width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#promoCreate p input {
    width: 100%;
}
#search {
     width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
#search p  {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#search p input {
    width: 100%;

}
.wrapperTable {
    width: 100%;
    height: auto;
    margin-top: 2%;
}
#TableContent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.promoCodShow:nth-child(1) {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.promoCodShow:nth-child(n+2) {
    border-bottom:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-top: none;
}
.promoCodShow {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 1%;
}