 * {
    margin: 0;
    padding: 0;
    text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

a {
    cursor: pointer;
}

html body {
    line-height: 2;
     background-color: white;
}
header {
    padding-top: 1%;
}
header .nav {
    width: 90%;
    border: 1px solid #ccc;
    background-color: #f4f4f5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
/*    margin-top: 1%;*/
   
}
.nav-left .nav-item {
    font-size: 1.2rem;
}
.nav-item {
    font-weight: bold;
}
table#fc {
    width: auto;
    box-shadow: 0 0 5px #ccc;
}
.wrapperOrderBlock {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    
}
#orderForm {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.orderBlock {
    width: 60%;
    margin-right: auto;
    height: 80%;
}
.orderBox {
    width: 30%;
    margin-left: auto;
    height: 60%;
    border: 1px solid #ccc;
    background-color: #f4f4f5;
    padding: 4%;
    border-radius: 6px;
}
.orderBox h2 {
    font-weight: bold;
    font-size: 2rem;
}
.orderBox p {
    font-size: 1.1rem;
}
input[type=checkbox]:checked + label:before {
	content: "\2713";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
    line-height: 15px;
}
